/* body & scroll */
body {
    background-color: #1b1e1c;
    color: #fff;
}
body::-webkit-scrollbar {
    width: 0.6rem;
}
body::-webkit-scrollbar-thumb {
    background: #00b388;
}
body::-webkit-scrollbar-track {
    background: #1b1e1c;
}
/* article */
main {
    padding-top: 5.2rem;
}
.another_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
    padding: 0 50px;
}
.another_head_left {
    display: flex;
}
.another_head_left_right {
    padding-left: 100px;
}
.another_head_left_right > div:first-child {
    color: rgb(148, 157, 155);
    font-weight: bold;
}
.another_head_left_right > div:last-child {
    font-size: 70px;
    font-weight: bold;
}
.another_head_left_left {
    font-size: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.another_head_left_left > div:last-child {
    color: rgb(19, 152, 116);
    text-decoration: underline;
}
.another_head_left_left > div:first-child > a:hover {
    opacity: 0.7;
}
.another_head_left_left > div:first-child > a {
    font-weight: bold;
    margin-top: 20px;
}
.another_main_img,
.another_video {
    background-color: rgb(248, 249, 252);
}
.another_main_img > img {
    width: 100%;
}
.another_video > img {
    width: 60vw;
}
.another_video {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    background-color: rgb(248, 249, 252);
}

.another_contents {
    height: 125vh;
    background: #1b1e1c;
    display: flex;
    align-items: flex-start;
    padding-top: 220px;
    justify-content: space-evenly;
}
.another_contents_circle {
    width: 260px;
    height: 260px;
    background-color: rgb(241, 241, 245);
    border-radius: 50%;
    margin-bottom: 30px;
}
.another_contents_title {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid rgb(100, 106, 104);
    padding: 0 100px;
    padding-bottom: 20px;
}
.another_contents_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.another_contents_1 > p {
    color: rgb(199, 203, 202);
    font-size: 17px;
    width: 280px;
    text-align: center;
    line-height: 35px;
    padding-top: 10px;
}
.another_contents_1 > p > span {
    color: white;
    font-weight: bold;
}
/* article_5 */
.another_img_bottom {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgb(149, 154, 152);
    height: 100vh;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
    position: relative;
    flex-direction: column;
}
.another_img_bottom > p {
    font-size: 22px;
    font-weight: bold;
    color: black;
    padding-top: 30px;
}
.another_img_bottom_txt {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
    font-size: 20px;
    color: rgb(139, 146, 144);
    position: relative;
}
.another_img_bottom_txt > a {
    color: rgb(2, 179, 136);
    padding-top: 20px;
    font-size: 23px;
    text-decoration: underline 2px;
}
.another_img_bottom_contact {
    width: 350px;
    height: 150px;
    background-color: rgb(73, 80, 78);
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0 0 15px;
    position: relative;
    cursor: pointer;
}
.another_img_bottom_contact i {
    position: absolute;
    bottom: 10px;
    right: 20px;
}
.another_img_bottom_text {
    width: 350px;
    height: 150px;
    background-color: rgb(2, 179, 136);
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0 0 15px;
    position: relative;
    cursor: pointer;
}
.another_img_bottom_text i {
    position: absolute;
    bottom: 10px;
    right: 20px;
}
.another_img_bottom_btn {
    display: flex;
}
.another_img_bottom_contact:hover,
.another_img_bottom_text:hover {
    opacity: 0.8;
}
.another_img_bottom_btn {
    position: absolute;
    bottom: 0;
    right: 0;
}
.another_img_bottom > img {
    width: 300px;
}
