@charset "utf-8";
@import url(reset.css);

/* Service area */

.service_qna {
    width: 100%;
    justify-content: center;
    margin-top: 9.5rem;
    color: #1b1e1c;
    /* text-align: left; */
}

.service_qna > div {
    width: 1200px;
    justify-content: center;
}

/* Service Title */

.service_qna_title > h3 {
    font-size: 2.95rem;
}

/* Form left */
.service_form {
    display: flex;
}

/* Form right */

/* Info area */

.hecton_info {
    margin-top: 9.5rem;
}
