@charset "utf-8";
@import url(reset.css);

/* Service area */

.service_qna {
    width: 1080px;
    margin: 200px auto;
    color: #1b1e1c;
}

/* Service Title */

.service_qna_title > h3 {
    font-size: 2.3rem;
    letter-spacing: -1px;
}

.service_qna_title > div {
    margin: 27px 0px 0px 0px;
}

.service_qna_title > div > p:last-child {
    padding: 10px 0 0 0;
}

.service_qna_title > div > p {
    font-size: 1.2rem;
    font-family: Spoqa Han Sans, sans-serif;
    letter-spacing: -1px;
}

.service_form {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
}

input {
    width: 33rem;
    height: 3.05rem;
    padding: 1rem;
    margin: 10px 0 0 0;
    font-size: 1.2rem;
    border: 1px solid #1b1e1c;
}

input:focus {
    border: 2px solid #00b388;
    outline: none;
}

input[type='number']::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

/* Form left */
.service_form > div {
    width: 33rem;
}

.form_p {
    font-size: 16.5px;
    color: #49504e;
    margin-bottom: 7px;
    font-weight: 549;
}

.service_form > div > div {
    margin: 20px 0 0 0;
}

.form_file > div {
    display: flex;
}

.file_upload,
.file_button {
    height: 3.05rem;
    padding: 0.5rem;
}

.upload-name {
    width: 27rem;
    border: 1px solid #1b1e1c;
    display: inline-block;
}

.form_file input[type='file'] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
    font-size: 29px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
    cursor: pointer;
}

.file_button {
    width: 8rem;
    background-color: #49504e;
    color: white;
    padding: 5px;
    padding-top: 12px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.file_button:hover {
    background-color: #959d9b;
}

.file_alert {
    font-size: 12.8px;
    color: #8a8c8b;
}

.form_check {
    width: 33rem;
    border: 1px solid #1b1e1c;
    margin: 20px 0 0 0;
    padding: 1.1rem;
    color: #8a8c8b;
}

.form_check > span {
    font-size: 0.87rem;
    margin-top: 8px;
    line-height: 1.3rem;
    display: block;
    font-weight: 300;
    letter-spacing: -1px;
}

a:visited {
    color: inherit;
}

.form_check > div {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

input[type='checkbox'] {
    display: none;
}

label[for='check'] {
    display: inline-block;
    width: 1.55rem;
    height: 1.55rem;
    border: 2px solid #1b1e1c;
    position: relative;
    border-radius: 0.15rem;
}

label[for='check']::after {
    content: '';
    display: block;
    position: absolute;
    width: 0.4rem;
    height: 0.9rem;
    transform: rotate(45deg);
    border: 4px solid #fff;
    border-top: none;
    border-left: none;
    bottom: 0.3rem;
    left: 0.4rem;
}

input[id='check']:checked + label[for='check'] {
    background-color: #00b388;
    border: #fff;
}

.privacy {
    margin: 0 0 0 10px;
}

/* Form right */
textarea {
    width: 33rem;
    height: 32rem;
    margin: 0 0 5px 0;
    text-align: top;
    line-height: 32.5rem;
    cursor: text;
    font-weight: 400;
    box-shadow: none;
    resize: none;
    font-size: 1.2rem;
    padding: 1.5rem 1rem;
    border: 1px solid #1b1e1c;
}

textarea:focus {
    border: 2px solid #00b388;
    outline: none;
}

textarea::-webkit-scrollbar {
    width: 7.5px;
    height: 32rem;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #00b388;
}

textarea::-webkit-scrollbar-track {
    background-color: black;
}

button {
    width: 33rem;
    height: 4.05rem;
    background-color: #49504e;
}

.service_btn:disabled {
    background-color: #8a8c8b;
}

button > p {
    color: white;
    font-weight: 600;
    font-size: 18px;
}

/* Info area */

.hecton_info {
    width: 1080px;
    /* margin: 200px 0 0 230px; */
    margin: auto;
    color: #1b1e1c;
}

.info > h3 {
    font-size: 2.3rem;
    margin-bottom: 2rem;
    letter-spacing: -2px;
}

.info_address_n_num {
    font-size: 1.2rem;
    letter-spacing: -2px;
}

.info_address_n_num > p {
    margin: 10px 0 0 0;
}

.hecton_number {
    display: flex;
}

.hecton_number > p {
    margin: 10px 0 0 0px;
}

.hecton_number > p:last-child {
    padding: 0 0px 0 10px;
}

#map {
    width: 100%;
    height: 700px;
    margin-top: 2rem;
    margin-bottom: 100px;
}
