@charset "utf-8";
@import url(reset.css);

header {
  background-color: #000;
  color: #f1f1f5;
  height: 5.2rem;
  width: 100%;
  text-align: center;
  align-items: center;
  top: 0;
  z-index: 100;
  position: fixed;
}

.menu_var {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 90.5%;
  margin: auto;
}

/* Main Logo */

.header_logo {
  height: 43px;
  width: 117px;
  justify-content: center;
}

/* Menu */

/* Menu */

.menu {
  display: flex;
  font: bold 16px;
  /* background: #fff; */
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  position: absolute;
  right: 50px;
  top: 22px;
}

a {
  text-decoration: none;
  color: #fff;
}

.menu > ul > li {
  float: left;
  width: 160px;
  /* position: relative; */
}

.menu_border {
  border-left: 1px solid #f1f1f5;
}

.menu > ul > li > ul {
  /* display: none; */
  /* position: absolute; */
  font-size: 14px;
  background: rgb(255, 255, 255);
  text-align: left;
  padding: 10px 30px 10px 10px;
  line-height: 1.2rem;
}

.hide-menu {
  overflow: hidden;
  padding-top: 13px;
}

.hide-menu > ul li {
  text-align: left;
}

.speech-bubble {
  box-shadow: 0 0 10px rgb(0 0 0 / 15%);
  position: relative;
  background: #fff;
  border-radius: 0.4em;
  margin: 1.5px;
  padding: 15px 0 15px 15px;
  width: auto;
}

.speech-bubble > li a {
  color: #959d9b;
  font-weight: inherit;
}

.speech-bubble > li a:hover {
  color: #000;
  font-weight: inherit;
}

.speech-bubble::after {
  display: block;
  content: "";
  position: absolute;
  width: 1.35rem;
  height: 1.35rem;
  background: #fff;
  top: -0rem;
  left: 50%;
  border-radius: 0.25rem;
  transform: rotate(45deg) translateX(-50%);
}

/* main */
main {
  padding-top: 5.2rem;
}

.culture_main {
  position: relative;
}

.culture_main img {
  height: 620px;
  width: 100%;
}

.main_const {
  color: #00b388;
  mix-blend-mode: multiply;
  opacity: 0.5;
  font-size: 80px;
  font-weight: 800;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 25px;
}

.main_const p {
  font-size: 85px;
  text-align: right;
  font-weight: 800;
}

.main_contant {
  width: 900px;
  position: absolute;
  bottom: 10%;
  left: 0;
  box-sizing: border-box;
  width: 800px;
  padding-left: 200px;
  margin-bottom: 10px;
}
.main_contant > h2 {
  font-size: 60px;
  padding-bottom: 13px;
}

.main_contant p {
  font-size: 28px;
  line-height: 50px;
}

/* culture_promise */

.culture_promise {
  padding: 60px 200px 60px 200px;
}

.culture_promise h2 {
  font-size: 40px;
  padding: 20px 0 20px 0;
}
.promise_wrap {
  display: flex;
  justify-content: space-between;
}

.promise_block {
  width: 350px;
}

.promise_block_title {
  font-size: 28px;
  font-weight: 500;
  color: rgb(3, 179, 136);
  padding: 17px 0 17px 0;
  border-bottom: 1px solid rgb(220, 212, 212);
}

.promise_block_contant {
  font-size: 20px;
  color: rgb(195, 186, 186);
  padding: 17px 0 17px 0;
  line-height: 35px;
  width: 300px;
}

/* culture_benefit */

.culture_benefit {
  padding: 60px 200px 60px 200px;
}
/* healing */

.benefit_healing {
  padding-bottom: 100px;
  border-bottom: 1px solid rgb(122, 130, 126);
}

.benefit_healing > h2 {
  font-size: 40px;
  padding-bottom: 50px;
}

.benefit_healing > span {
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 10px;
  color: rgb(3, 179, 136);
}

.benefit_healing > p {
  font-size: 23px;
  padding-bottom: 25px;
}

.benefit_healing ul {
  display: flex;
  justify-content: space-between;
}

.benefit_healing li {
  width: 290px;
}

.benefit_healing img {
  width: 285px;
  height: 210px;
}

.benefit_healing ul li h4 {
  font-size: 20px;
  padding-bottom: 10px;
}

.benefit_healing ul li p {
  font-size: 18px;
  color: rgb(212, 201, 201);
}

/* benefit_creativity*/

.benefit_creativity {
  padding-bottom: 100px;
  padding-top: 100px;
  border-bottom: 1px solid rgb(122, 130, 126);
}

.benefit_creativity span {
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 10px;
  color: rgb(3, 179, 136);
}

.benefit_creativity p {
  font-size: 23px;
  padding-bottom: 25px;
}

.benefit_creativity ul {
  display: flex;
  justify-content: space-between;
}

.benefit_creativity li {
  width: 290px;
}

.benefit_creativity img {
  width: 285px;
  height: 210px;
}

.benefit_creativity ul li h4 {
  font-size: 20px;
  padding-bottom: 10px;
}

.benefit_creativity ul li p {
  font-size: 18px;
  color: rgb(212, 201, 201);
}

/* benefit_growth */

.benefit_growth {
  padding-bottom: 100px;
  padding-top: 100px;
  border-bottom: 1px solid rgb(122, 130, 126);
}

.benefit_growth span {
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 10px;
  color: rgb(3, 179, 136);
}

.benefit_growth p {
  font-size: 23px;
  padding-bottom: 25px;
}

.benefit_growth ul {
  display: flex;
  justify-content: space-between;
}

.benefit_growth li {
  width: 290px;
}

.benefit_growth img {
  width: 285px;
  height: 210px;
}

.benefit_growth ul li h4 {
  font-size: 20px;
  padding-bottom: 10px;
}

.benefit_growth ul li p {
  font-size: 18px;
  color: rgb(212, 201, 201);
}

/* benefit_communication */

.benefit_communication {
  padding-top: 100px;
  margin-bottom: 140px;
}

.benefit_communication span {
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 10px;
  color: rgb(3, 179, 136);
}

.benefit_communication p {
  font-size: 23px;
  padding-bottom: 25px;
}

.benefit_communication ul {
  display: flex;
  justify-content: space-between;
}

.benefit_communication li {
  width: 290px;
}

.benefit_communication img {
  width: 285px;
  height: 210px;
}

.benefit_communication ul li h4 {
  font-size: 20px;
  padding-bottom: 10px;
}

.benefit_communication ul li p {
  font-size: 18px;
  color: rgb(212, 201, 201);
}

/* qna */

.qna {
  background-color: white;
  color: black;
  height: 470px;
  padding: 60px 200px 200px 200px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.qna_wrap h1 {
  font-size: 40px;
}
.qna_txt {
  margin-top: 20px;
}
.qna_txt p {
  font-size: 22px;
}

.qna_email p {
  font-size: 22px;
  font-weight: 600;
}

.qna_email a {
  font-size: 22px;
  color: rgb(3, 179, 136);
  text-decoration: underline;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: 70px;
  border-top: 1px solid rgb(220, 216, 216);
  height: 315px;
}

.footer_wrap {
  display: flex;
}

.footer_list {
  display: flex;
}

.footer_list ul li a {
  list-style: none;
  padding-left: 50px;
  line-height: 30px;
  font-size: 15px;
  color: rgb(196, 187, 187);
  font-weight: 200;
}

.footer_list > ul > li:first-child a {
  font-weight: 800;
  color: rgb(205, 201, 201);
}

.footer_hecton_info ul {
  list-style: none;
  line-height: 32px;
  font-weight: 200;
}

.footer_hecton_info ul > li:first-child {
  font-weight: 500;
  color: rgb(227, 219, 219);
}

.footer_hecton_info ul > li > a {
  color: rgb(227, 219, 219);
  text-decoration: underline;
  font-weight: 500;
  font-size: 18px;
}
