/* article_1 */
.article_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
    padding: 0 50px;
}
.article_1_left {
    display: flex;
}
.article_1_left_right {
    padding-left: 100px;
}
.article_1_left_right > div:first-child {
    color: rgb(148, 157, 155);
    font-weight: bold;
}
.article_1_left_right > div:first-child > span {
    color: rgb(19, 152, 116);
}
.article_1_left_right > div:last-child {
    font-size: 70px;
    font-weight: bold;
}
.article_1_left_left {
    font-size: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.article_1_left_left > div:first-child {
    color: rgb(19, 152, 116);
    text-decoration: underline;
}
.article_1_left_left > div:last-child > a:hover {
    opacity: 0.7;
}
.article_1_left_left > div:last-child > a {
    font-weight: bold;
    margin-top: 20px;
}
/* article_2 */
.article_2 > img {
    width: 100%;
}
/* .article_2::before {
    content: "";
    background-color: blue;
    height: 40vh;
    width: 100%;
    position: absolute;
} */
/* article_3 */
.article_3 {
    border-bottom: 1px solid rgb(100, 106, 104);
    padding-bottom: 130px;
    border-bottom: 1px solid rgb(100, 106, 104);
}
.article_3_1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 130px;
}
.article_3_txt {
    padding-right: 160px;
}
.article_3_txt > div {
    font-size: 24px;
    color: rgb(148, 157, 155);
}
.article_3_txt > div:last-child {
    color: white;
    font-weight: 600;
}
.article_3_txt > p {
    font-size: 80px;
    margin-bottom: 20px;
    color: rgb(148, 157, 155);
}
.article_3_txt > p > span {
    font-weight: bold;
    color: rgb(2, 179, 136);
}
/*  */
.article_3_txt2 {
    padding-left: 60px;
}
.article_3_txt2 > div {
    font-size: 24px;
    color: rgb(148, 157, 155);
}
.article_3_txt2 > div:last-child {
    color: white;
    font-weight: 600;
}
.article_3_txt2 > p {
    font-size: 80px;
    margin-bottom: 20px;
    color: rgb(148, 157, 155);
}
.article_3_txt2 > p > span {
    font-weight: bold;
    color: rgb(2, 179, 136);
}
.article_3 img {
    width: 860px;
}

.article_3_2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 130px;
}

/* article_4 */
.article_4 {
    margin: 130px 0 0 150px;
    border-bottom: 1px solid rgb(100, 106, 104);
}
.article_4 > h3 {
    font-size: 40px;
    font-weight: bold;
}
.article_4 > p:first-child {
    padding-top: 30px;
}
.article_4 > p,
h6 {
    font-size: 18px;
    font-weight: 600;
    color: rgb(149, 154, 152);
}
.doctors {
    display: flex;
    align-items: center;
    padding-top: 40px;
}
.doctors > div {
    font-size: 36px;
    /* font-weight: 600; */
    padding-left: 10px;
}
.article_4 h6 {
    padding-top: 60px;
}
.article_4 P {
    padding-top: 15px;
}
.article_4 > h1 {
    font-size: 40px;
    margin-top: 100px;
    padding-bottom: 50px;
}
/* article_5 */
.article_5 {
    margin-left: 150px;
    margin-top: 50px;
    padding-bottom: 250px;
}
.article_5 > h3 {
    font-size: 25px;
    margin-top: 40px;
}
.article_5 > p {
    font-weight: bold;
    color: rgb(148, 157, 155);
    margin-top: 15px;
}

/* article 6 */
.article_6 {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgb(149, 154, 152);
}
.article_6_txt {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
    font-size: 20px;
    color: rgb(139, 146, 144);
}
.article_6_txt > a {
    color: rgb(2, 179, 136);
    padding-top: 20px;
    font-size: 23px;
    text-decoration: underline 2px;
}
.article_6_contact {
    width: 350px;
    height: 150px;
    background-color: rgb(73, 80, 78);
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0 0 15px;
    position: relative;
    cursor: pointer;
}
.article_6_contact i {
    position: absolute;
    bottom: 10px;
    right: 20px;
}
.article_6_text {
    width: 350px;
    height: 150px;
    background-color: rgb(2, 179, 136);
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0 0 15px;
    position: relative;
    cursor: pointer;
}
.article_6_text i {
    position: absolute;
    bottom: 10px;
    right: 20px;
}
.article_6_contact:hover,
.article_6_text:hover {
    opacity: 0.8;
}
