@charset "utf-8";
@import url(reset.css);

header {
    background-color: #000;
    color: #f1f1f5;
    height: 5.9rem;
    width: 100%;
    text-align: center;
    align-items: center;
}

.menu_var {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.2rem;
    width: 90.5%;
    margin: auto;
}

/* Main Logo */

.main_logo {
    margin: 20px 0 0 0;
}

img {
    height: 43px;
    width: 117px;
    justify-content: center;
}

/* Menu */

.menu {
    display: flex;
}

.menu > li {
    font-size: 18.64px;
    font-weight: 700;
}

.menu_story,
.menu_project,
.menu_culture {
    border-right: 1px solid #f1f1f5;
}

.menu > li > a {
    padding: 2rem 2.9rem;
    color: inherit;
    text-decoration: none;
}
