@charset "utf-8";
@import url(reset.css);
body {
  background-color: #1c1e1d;
}
.hecton_logo {
  background-image: url(https://www.hectonproject.com/_next/static/media/hero.83554134.jpg);
  background-size: 500px;
}
