@charset "utf-8";
@import url(reset.css);

/* 임시 작성 */
header {
  height: 6rem;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 16.25rem;
  border-top: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* story 공통 */

#story {
  background-color: #1b1e1c;
  color: #f1f1f5;
}

#story .container {
  width: 100%;
  min-height: 100vh;
}

#story h3 {
  margin-bottom: 40px;
  font-size: 2.95rem;
  letter-spacing: -3px;
}

#story .inner_wrap {
  width: calc(100% - 150px);
  margin: 0 auto;
}

/****************** main area start ***************** */

.story_main {
}

.story_main .main_wrapper {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  background: url(../assets/images/story/story_main.jpg) 50% no-repeat;
  background-size: cover;
}

.story_main .main_wrapper h1 {
  width: 25vw;
  font-size: 51px;
  margin-left: 210px;
  text-shadow: 1px 1px 20px #1e3250;
  letter-spacing: -2px;
  color: #fff;
}

/****************** culture area start ***************** */

.story_culture {
}

.story_culture .culture_wrapper {
  padding-top: 10rem;
}

.story_culture .culture_box {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: calc(100% - 2rem);
}

.story_culture .culture_box .culture_list {
  width: 25%;
}

.story_culture .culture_box .culture_list > img {
  width: 100%;
}

.story_culture .culture_box .culture_text_box h4 {
  letter-spacing: -1px;
  font-size: 2.2658rem;
  font-weight: 400;
  margin-bottom: 0.855rem;
  letter-spacing: -3px;
}

.story_culture .culture_box .culture_text_box p {
  font-weight: 300;
  letter-spacing: -2px;
}

.story_culture .culture_box .culture_text_box .culture_text {
  margin-top: 1rem;
  line-height: 1.8;
  font-size: 1.1875rem;
  margin-bottom: 1rem;
}

.story_culture .culture_box .culture_text_box .culture_hash_item {
  font-size: 1.1rem;
  font-weight: 300;
  color: #00b388;
}

/****************** history area start ***************** */

/* 진행 중 */
.story_history {
}

.story_history .history_wrapper {
  margin: 160px 0 220px;
  padding-top: 10rem;
  position: relative;
}

.history_section {
  margin: 4rem 0 2rem;
  display: flex;
  font-size: 1.3rem;
  line-height: 2;
}

.history_box {
  width: 50%;
  padding-left: calc(15vw + 1rem);
}

.history_section.second .history_box {
  padding-left: 5rem;
  padding-left: 7rem;
}

.history_section.third .history_box {
  padding-left: calc(15vw + 1rem);
}

.history_box h4 {
  font-weight: 600;
  font-size: 40px;
  letter-spacing: -2px;
}

.history_box h4 span {
  color: #00b388;
}

.history_box ul > li {
  font-weight: 300;
  font-size: 17px;
}

.history_box ul > li > span {
  margin-right: 15px;
  font-weight: 600;
}

.history_line {
  position: absolute;
  width: 10rem;
  top: 15rem;
  left: 50%;
  height: 100%;
  transform: translateX(-5rem);
  z-index: 10;
}

.history_line:after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  /* height: 140%; */
  background: #1b1e1c;
  background: linear-gradient(1turn, #1b1e1c, #959d9b 85%, #1b1e1c);
  top: 150px;
  left: 50%;
}

.history_ball {
  background: #00b388;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 5.5rem auto;
}

.history_ball:nth-child(1) {
  width: 2rem;
  height: 2rem;
}

.history_ball:nth-child(2) {
  width: 1.8rem;
  height: 1.8rem;
  opacity: 0.9;
}

.history_ball:nth-child(3) {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.8;
}
.history_ball:nth-child(4) {
  width: 1.2rem;
  height: 1.2rem;
  opacity: 0.7;
}
.history_ball:nth-child(5) {
  width: 1.2rem;
  height: 1.2rem;
  opacity: 0.6;
}
.history_ball:nth-child(6) {
  width: 1.1rem;
  height: 1.1rem;
  opacity: 0.55;
}
.history_ball:nth-child(7) {
  width: 1rem;
  height: 1rem;
  opacity: 0.5;
}
.history_ball:nth-child(8) {
  width: 0.95rem;
  height: 0.95rem;
  opacity: 0.45;
}
.history_ball:nth-child(9) {
  width: 0.9rem;
  height: 0.9rem;
  opacity: 0.35;
}
.history_ball:nth-child(10) {
  width: 0.9rem;
  height: 0.9rem;
  opacity: 0.25;
}
.history_ball:nth-child(11) {
  width: 0.8rem;
  height: 0.8rem;
  opacity: 0.2;
}
.history_ball:nth-child(12) {
  width: 0.8rem;
  height: 0.8rem;
  opacity: 0.2;
}
.history_ball:nth-child(13) {
  width: 0.65rem;
  height: 0.65rem;
  opacity: 0.15;
}
.history_ball:nth-child(14) {
  width: 0.5rem;
  height: 0.5rem;
  opacity: 0.1;
}
.history_ball:nth-child(15) {
  width: 0.5rem;
  height: 0.5rem;
  opacity: 0.1;
}

/****************** ci area start ***************** */

.story_ci {
}

.story_ci .story_ci_container {
  width: 100%;
  margin-top: 95px;
  background: url(../assets/images/story/story_CI.jpg) 50% no-repeat;
  background-size: cover;
  padding: 26rem 75px;
  position: relative;
}

.story_ci .ci_intro_wrapper .inner_wrap {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.story_ci .ci_intro_wrapper h3 {
  margin-bottom: 2rem;
}

.story_ci .ci_intro_wrapper .ci_intro_text_box {
  font-weight: 300;
  letter-spacing: -2px;
}

.story_ci .ci_intro_wrapper .ci_intro_text_box p {
  font-size: 30px;
  line-height: 1.8;
}
.story_ci .ci_intro_wrapper .ci_intro_text_box span {
  color: #f1f1f5;
  font-weight: 300;
  opacity: 0.5;
}
.story_ci .ci_intro_wrapper .ci_intro_text_box strong {
  color: #00b388;
}

.story_ci .ci_logo_wrapper .inner_wrap {
  position: absolute;
  bottom: 10rem;
  left: 4rem;
  padding-right: 4rem;
}

.story_ci .ci_logo_wrapper .ci_logo_text_box p {
  font-size: 1.3rem;
  letter-spacing: -1.5px;
  line-height: 1.8;
}

/* .story_ci .ci_logo_wrapper {
  background-color: #212524;
} */

.story_ci .ci_logo_wrap {
  background-color: #212524;
}

.story_ci .ci_logo_box {
  padding: 0 0 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.story_ci .ci_logo_box .ci_logo {
  width: 33.3%;
}

.story_ci .ci_logo_box .ci_logo p {
  font-size: 1.2rem;
}

.story_ci .ci_logo_box .ci_logo > div {
  width: 50%;
  margin: 0 auto;
}

.story_ci .ci_logo_box .ci_logo > div img {
  width: 100%;
}

/****************** color area start ***************** */

.story_color {
  background-color: #212524;
}

.story_color .color_text_box p {
  font-size: 1.3rem;
  letter-spacing: -1.5px;
  line-height: 1.8;
}

.story_color .color_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 4rem 0px 12rem;
}

.story_color .color_box > div {
  padding: 1.5rem;
  /* width: 33.33%; */
  min-height: 13rem;
}

.story_color .color_box .color_color_name {
  font-weight: 600;
  font-size: 1.35rem;
  letter-spacing: 0;
}

.story_color .color_box .color_color_code {
  font-size: 1.1rem;
}

.story_color .color_box .color_color_code strong {
  margin-right: 0.2rem;
}

.story_color .color_box .color_white {
  border: 1px solid #fff;
  background: #fff;
  color: #000;
}
.story_color .color_box .color_black {
  color: #fff;
  background: #000;
  border: 1px solid #000;
}
.story_color .color_box .color_green {
  border: 1px solid #00b388;
  background: #00b388;
  color: #fff;
}
.story_color .color_box .color_cool {
  border: 1px solid #f1f1f5;
  background: #f1f1f5;
  color: #000;
}
.story_color .color_box .color_dove {
  border: 1px solid #999;
  background: #999;
  color: #000;
}
.story_color .color_box .color_dark {
  border: 1px solid #666;
  background: #666;
  color: #fff;
}

/****************** agency area start ***************** */

.story_agency {
}

.story_agency .agency_wrapper {
  padding-top: 10rem;
  margin-bottom: 8rem;
}

.story_agency h3 {
  text-align: center;
  margin-bottom: 30px;
}

.story_agency .agency_info {
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: -2px;
}

/****************** family area start ***************** */

.story_family {
  background: #fff;
  padding: 10rem 0;
}

.story_family h3 {
  text-align: center;
  color: #000;
}

.story_family .family_img_wrapper {
  width: 60%;
  margin: 10rem auto;
}

.story_family .family_img {
  width: 50%;
  position: relative;
  margin: 0 auto;
}

.story_family .family_img > img {
  width: 100%;
}

.story_family .family_img > a {
  position: absolute;
  width: 20rem;
  height: 5rem;
}

.story_family .family_img .family_logo_gccare {
  top: -2.5rem;
  right: -7rem;
  width: 13rem;
}

.story_family .family_img .family_logo_gccare > img {
  width: 100%;
}

.story_family .family_img .family_logo_ubcare {
  bottom: 10rem;
  right: -17rem;
}

.story_family .family_img .family_logo_bbros {
  bottom: -2.5rem;
  left: -5rem;
}

.story_family .family_img .family_logo_gc {
  top: 8.2rem;
  left: -21rem;
}

.story_family .family_img > a > img {
  width: 100%;
}
